ul.ul-edu {
  list-style: none;
}

ul.ul-edu li {
  position: relative;
  padding: 0 15px 4px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.minor {
  background: #000000;
  opacity: 0.6;
  font-size: 0.75rem;
}
ul.ul-edu li .description p.institution {
  font-size: 0.75rem;
  color: rgba(200, 0, 0, 0.6);
}
